<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>책검색</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <h1>Login</h1>
    <form name='f' action="login-action" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
    </form>
    <form id="registrationForm" class="form-inline">
        <input type="text" class="form-control" id="join-id" placeholder="아이디를 입력하세요.">
        <input type="text" class="form-control" id="join-password" placeholder="비밀번호를 입력하세요.">
        <button type="button" class="btn btn-primary mb-2">회원가입</button>
    </form>
<script type="text/javascript">
$(document).ready(function(){
	$("#registrationForm button").click(function(){
		$.post("/members", {
			    id: $("#join-id").val(),
			    password: $("#join-password").val()
			}, function(){
				console.log("registration success");
			});
	});
});
</script>
</body>
</html>