<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>책검색</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	<form id="bookSearchForm" class="form-inline">
	    <div class="form-group mx-sm-3 mb-2">
	        <input type="text" class="form-control" id="target" placeholder="키워드를 입력하세요.">
	    </div>
	    <button type="button" class="btn btn-primary mb-2">검색</button>
	</form>
<script type="text/javascript">
$(document).ready(function(){
    $("#bookSearchForm button").click(function(){
	    $.get("/books/" + $("#target").val(),
		    function(data, status){ 
    			console.log(data);
    			console.log(status);
    		}); 
	    });
});
</script>
</body>
</html>
